.card {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: fit-content;
  background-color: #3e4042;
  color: white;
  padding: 0.5rem;
}

.card_image {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.card_name {
  text-align: center;
}

.card_details {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
